name: Python CI

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # Instala as dependências do seu projeto e o pytest para rodar os testes
        pip install -r BDNREX5/requirements.txt
        pip install pytest

    - name: Run Tests
      run: |
        # O pytest descobre automaticamente ficheiros que começam com test_
        pytest test_usuario.py